extends layout

block content 

  body
    div(class="black-container")
      p Inicie sesión en Mande 
      br
      a(class="option-button" href="http://localhost:3000/login" role="button") Iniciar sesión
      br 
      br
      a(class="option-button" href="http://localhost:3000/register" role="button") Registrate
      br
      br
