doctype html
html
  head
    title Mande
    meta(name="viewport" content="width=device-width, initial-scale=1" charset='utf-8')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    //script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    
    block content


