extends layout

block content 


  body
    div(class="black-container")
      div(class="head-black-container")
        div(class="row")
          div(class="column left")
            a(class="close-button" href="http://localhost:3000/login" role="button" style) x
          div(class="column right")
            p Login de usuario en construcción