extends layout

block content 

  body
    div(class="black-container")
      div(class="head-black-container")
        div(class="row")
          div(class="column left")
            a(class="close-button" href="http://localhost:3000/" role="button" style) x
          div(class="column right")
            p ¿Como registrarte?
      br
      a(class="option-button" href="http://localhost:3000/registerUser" role="button") Cliente
      br 
      br
      a(class="option-button" href="http://localhost:3000/registerWorker" role="button") Trabajador asocidado
      br
      br